@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Facts Information Zone</h1>
    <p>The platform contains the information about facts and information</a>.</p>
</div>

<div class="parent-div">
    
    <div class="card child-div">
        <h2>Fact List</h2>
        <p>Contains the list of facts provided by the users</p> 
        <p><button class="profile-button"><a class="nav-link text-dark" asp-area="" asp-controller="Facts" asp-action="Index">Facts</a></button></p>
    </div>

    <div class="card child-div">
        <h2>About</h2>
        <p>Contains the information about the developer who build this platform</p>
        <p><button class="profile-button"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About</a></button></p>
    </div>

    <div class="child-div">

    </div>
</div>
