@{
    ViewData["Title"] = "About"; //intially "Privacy Policy"
}
<h1>@ViewData["Title"]</h1>

<p class="info-text">
    Undergraduate Software Developer with core interests in DSA, Backend Development, and Flutter Development.
    Technologies of interest -  C++, Java, Python, Dart, Flutter, Rest APIs, JSON, JavaScript, jQuery, HTML, CSS, OOPs, .NET Framework, C# and SQL Database.
    </p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
    <img src="~/css/profile.png" alt="Pratyush Singh" style="width:100%">
  <h1>Pratyush Singh</h1>
  <p class="title">Software Developer</p>
  <p>Delhi Technological University</p>
    <a class="info-tag"
        href="https://www.linkedin.com/in/pratyush-singhh/"><i class="fa fa-linkedin"></i></a>
    <a class="info-tag"
        href="https://github.com/gokupika"><i class="fa fa-github"></i></a>

    <p><button class="profile-button" onclick="location.href='https://aboutpratyush.netlify.app/'">Contact</button></p>
</div> 